body{
  align-items: center;
  margin: 150px 150px 150px 350px;
}
.container {
  margin:  50px;
  display: flexbox;
  background-color: rgb(151, 219, 241);
  padding : 20px;
  text-align: left;
  border: 5px solid rgb(101, 99, 235);
  width: 500px;
}

.container-label {
  margin-right: 100px;

}
.container-input{
  margin-right: 20px;
}
input{
  border-style: double;
  border-color: rgb(101, 99, 235);
}






